@charset "UTF-8";
:root {
  --black-color: #3a3a3a;
  --black-color2: #3b3b3b;
  --white-color: #fff;
  --gray-color: #e1e1e1;
  --gray-color2: #f0f0f0;
  --footer-btn-color: #907c7c;
  --footer-btn-color2: #c2bdb7;
}
:root {
  --z-index-back: 0;
  --z-index-default: 1;
  --z-index-modal: 10;
  --z-index-modal-mark: 50;
}
body {
  font-family: "Noto Serif JP", serif;
  letter-spacing: 0.2em;
  color: var(--black-color2);
}
/* ---------- layout ---------- */


/* ---------- utility ---------- */
@media screen and (min-width: 768px) {
    .u_dp-n {
        display: none;
    }
}

.u_dp-n_sp {
  display: none;
}

/* ---------- module ---------- */

.top_kv-img-wrap {
  height: 100vh;
  background: url("../img/top/top_kv.jpg") top center / cover;
  position: relative;
}
@media screen and (min-width: 1080px) {
  .top_kv-img-wrap {
    background: url("../img/top/top_kv.jpg") bottom center / cover;
  }
}
.top_kv-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white-color);
  font-size: 44px;
  line-height: 1.8;
  width: 43.5%;
}
@media screen and (min-width: 1080px) {
  .top_kv-text {
    width: 23%;
    height: 443px;
  }
}
.top_kv_scroll {
  font-size: 15px;
  line-height: 1.2;
  color: var(--white-color);
  position: absolute;
  left: 50%;
  bottom: 34px;
  transform: translateX(-50%);
  font-family: "GFS Didot", serif;
  display: inline-block;
}
@media screen and (min-width: 1080px) {
  .top_kv_scroll {
    font-size: 22px;
  }
}
.top_kv_scroll::before {
  content: "";
  width: 15px;
  height: 4px;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent var(--white-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-top: -6px;
  transform: translateX(-50%) rotate(90deg);
}
@media screen and (min-width: 1080px) {
  .top_kv_scroll::before {
    width: 21px;
    height: 6px;
  }
}

/* トップページーこだわり */
.top_obsession {
  padding: 44px 0 61px;
}
@media screen and (min-width: 1080px) {
  .top_obsession {
    padding: 64px 0;
  }
}

.top_obsession__pc {
  display: none;
}
@media screen and (min-width: 1080px) {
  .top_obsession__pc {
    display: block;
  }
  .top_obsession__sp {
    display: none;
  }
}
.top_obsession-tit {
  font-size: 20px;
  line-height: 1.95;
  text-align: center;
}
.top_obsession-thehouse_wrap {
  margin-left: 22px;
  margin-top: 30px;
  display: flex;
  gap: 21px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .top_obsession-thehouse_wrap {
    width: 50%;
    margin: 30px auto 0;
    gap: 36px;
  }
}
.top_obsession-thehouse-text-img__wrap {
  width: 53px;
  height: 236px;
}
.top_obsession-thehouse-text-img {
  width: 100%;
  height: 100%;
}
.top_obsession-thehouse-img__wrap {
  width: 297px;
  height: 386px;
}
.top_obsession-thehouse-img {
  width: 100%;
  height: 100%;
}
.top_obsession-content {
  margin-top: 49px;
  margin-left: 40px;
  font-size: 12px;
  line-height: 2.167;
}
@media screen and (min-width: 768px) {
  .top_obsession-content {
    width: 38%;
    margin: 49px auto 0;
  }
}
.top_obsession-btn {
  display: block;
  width: 314px;
  height: 42px;
  margin: 48px auto 0;
  background: var(--black-color2);
}
.top_obsession-btn__link {
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.22;
}
/* トップページーこだわりPC */

.top_obsession-content-wrap__pc {
  display: flex;
  justify-content: space-between;
}
.top_obsession-thehouse-text-img__wrap__pc {
  width: 9%;
  margin-left: 64px;
}
.top_obsession-thehouse-text-wrap__pc {
  margin-top: 36px;
}
.top_obsession-thehouse_title__pc {
  display: flex;
  flex-flow: column;
  font-family: "GFS Didot", serif;
  font-size: 40px;
  line-height: 1.275;
}
.top_obsession-thehouse_subtitle__pc {
  font-size: 20px;
  line-height: 1.95;
}
.top_obsession-thehouse-text-content__pc {
  margin-top: 48px;
  line-height: 1.7;
}
.top_obsession-thehouse-text-img__pc {
  width: 100%;
  height: 100%;
}
.top_obsession-thehouse-img__wrap__pc {
  width: 52.2%;
}
.top_obsession-btn__pc {
  margin-top: 48px;
}
.top_obsession-btn__link__pc {
  font-size: 24px;
  color: #000;
  display: flex;
  position: relative;
}
.top_obsession-btn__link__pc:before {
  content: "";
  width: 89px;
  border-top: 1px solid var(--black-color2);
  top: 40px;
  left: 110px;
  position: absolute;
}
.top_obsession-btn__link__pc::after {
  content: "";
  width: 10px;
  height: 8px;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent var(--black-color2);
  position: absolute;
  top: 35px;
  left: 192px;
  transform: translateX(-50%) rotate(135deg);
}

/* トップページ-works */
.top_works {
  background: var(--gray-color2);
  padding-top: 61px;
  padding-bottom: 97px;
}
.m_top-tit {
  text-align: center;
  font-size: 24px;
  font-family: "GFS Didot", serif;
  line-height: 1.291;
  display: flex;
  flex-flow: column;
}
.m_top-subtit {
  font-family: "Noto Serif JP", serif;
  font-size: 12px;
  line-height: 2.416;
}

.top_works-img__wrapper {
  display: flex;
  flex-flow: column;
  margin-top: 61px;
}
@media screen and (min-width: 768px) {
  .top_works-img__wrapper {
    gap: 16px;
    margin: 59px 70px 0;
    flex-flow: wrap;
  }
}
.top_works-img__wrap {
  height: 416px;
  position: relative;
  z-index: var(--z-index-back);
}
@media screen and (min-width: 768px) {
  .top_works-img__wrap {
    width: calc((100% - 32px) / 3);
    height: 350px;
  }
  .top_works-img__wrap:last-child {
    display: none;
  }
}
@media screen and (min-width: 1080px) {
  .top_works-img__wrap {
    height: 409px;
  }
}
.top_works-img {
  height: 100%;
  width: 100%;
  object-position: 40% bottom;
  object-fit: cover;
}

.top_works-img-more {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  right: 0;
  position: absolute;
  background: var(--black-color2);
  z-index: var(--z-index-modal);
  bottom: 0;
  width: 137px;
  height: 34px;
}
@media screen and (min-width: 768px) {
  .top_works-img-more {
    display: none;
  }
}
.top_view-btn__pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .top_view-btn__pc {
    display: block;
    width: auto;
    margin: 87px auto 0;
  }
}
/* トップページーフロー */
.top_flow__sp-container {
  padding: 40px 0 49px;
}
.top_flow-btn {
  width: 294px;
  margin: 29px auto 0;
}
.top_flow__sp-text {
  line-height: 2;
  font-size: 14px;
  width: 176px;
  margin: 0 auto;
  text-align: center;
}
.top_flow__sp-flow__wrap {
  width: 294px;
  margin: 44px auto 0;
  padding: 38px 40px;
  border: 1.5px solid var(--black-color2);
  position: relative;
}
.top_flow__sp-flow-tit {
  font-family: "GFS Didot", serif;
  font-size: 22px;
  line-height: 1.32;
}
.top_flow__sp-flow-text {
  font-family: "Noto Serif JP", serif;
  font-size: 13px;
  line-height: 1.92;
  margin-top: 9px;
}
.top_flow__sp-flow__wrap::after {
  content: "";
  width: 30px;
  height: 27px;
  border-style: solid;
  border-width: 30px 0 30px 30px;
  border-color: transparent transparent transparent var(--black-color2);
  position: absolute;
  bottom: -25px;
  right: -25px;
  margin-top: -6px;
  transform: translateX(-50%) rotate(45deg);
}


/* ---------- sauna-page ---------- */
.m_sauna_kv-wrap {
  position: relative;
}

.sauna_kv-txt-wrapper {
  position: absolute;
  top: 55%;
  left: 5%;
}

@media screen and (min-width: 1080px) {
  .sauna_kv-txt-wrapper {
      top: 50%;
      margin-left: 13%;
  }
}

.sauna_kv-img__sp {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: 56%;
}

@media screen and (min-width: 1080px) {
  .sauna_kv-img__sp{
      display: none;
  }
}

.sauna_kv-img__pc {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: 56%;
  display: none;
}

@media screen and (min-width: 1080px) {
  .sauna_kv-img__pc {
      display: block;
  }
}

.sauna_kv-heading {
  font-size: 24px;
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .sauna_kv-heading {
      font-size: 32px;
  }
}

.sauna_kv-txt_upper, .sauna_kv-txt_lowwer {
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.2em;
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .sauna_kv-txt_upper, .sauna_kv-txt_lowwer {
      font-size: 16px;
  }
}

.sauna_kv-txt_upper {
  margin-top: 52px;
  margin-bottom: 26px;
}

/* sauna-plan */
.sauna-plan_container {
  background-color: var(--gray-color2);
}

.sauna-plan_ttl {
  font-size: 24px;
  line-height: 1.46;
  text-align: center;
  padding-top: 37px;
  color: var(--black-color);
}

@media screen and (min-width: 768px) {
  .sauna-plan_ttl {
      font-size: 33px;
      padding-top: 102px;
  }
}

.sauna-plan_txt {
  text-align: center;
  margin-top: 38px;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .sauna-plan_txt {
      font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .sauna-plan_contents_container {
      display: flex;
      justify-content: center;
  }
}

@media screen and (min-width: 1080px) {
  .sauna-plan_contents_container {
    gap: 94px;
  }
}

.sauna-plan_contents {
  width: 61%;
  margin: 38px auto 0;
}

@media screen and (min-width: 768px) {
  .sauna-plan_contents {
      width: 368px;
      padding-top: 30px;
      margin: 38px 0 0 0;
  }
}

.sauna-plan_content {
  border-left: 2px solid var(--black-color2);
}

.sauna-plan_content:not(:first-child) {
  margin-top: 33px;
}

.sauna-plan_content_ttl {
  font-size: 20px;
  margin-left: 19px;
}

@media screen and (min-width: 768px) {
.sauna-plan_content_ttl {
  font-size: 34px;
}
}

.sauna-plan_content_txt {
  line-height: 1.67;
  font-size: 12px;
  margin-top: 9px;
  margin-left: 19px;
}

@media screen and (min-width: 768px) {
  .sauna-plan_content_txt {
      font-size: 20px;
  }
}

.sauna-plan_box {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 55px;
}

@media screen and (min-width: 768px) {
  .sauna-plan_box {
      padding-top: 52px;
      padding-bottom: 102px;
  }
}  

.sauna-plan_img__sp {
  width: 345px;
  height: 468px;
  object-position: 0% 50%;
}

@media screen and (min-width: 1080px) {
  .sauna-plan_img__sp{
      display: none;
  }
}

.sauna-plan_img__pc {
  width: 736px;
  object-fit: cover;
  object-position: 56%;
  display: none;
}

@media screen and (min-width: 1080px) {
  .sauna-plan_img__pc {
      display: block;
  }
}

/* sauna-custom */
.sauna-custom_container {
  position: relative;
}

.sauna-custom_img-box {
  position: relative;
}

@media screen and (min-width: 1080px) {
  .sauna-custom_img-box {
    display: flex;
    flex-wrap: wrap;
  }

  .sauna-custom_img {
    width: 50%;
  }
}

.sauna-custom_img-box::before {
  content: "";
  background-image: linear-gradient(#000, #000);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .5;

}

.sauna-custom_heading {
  font-size: 24px;
  line-height: 1.4;
  color: var(--white-color);
  position: absolute;
  top: 37%;
  left: 6%;
}

@media screen and (min-width: 768px) {
  .sauna-custom_heading  {
    font-size: 40px;
  }
}

@media screen and (min-width: 1080px) {
  .sauna-custom_heading {
    font-size: 59px;
    line-height: 1.45;
    text-align: center;
    left: 50%;
    top: 39%;
    transform: translateX(-50%);
  }
}

.sauna-custom_txt_upper, .sauna-custom_txt_lower {
  line-height: 1.67;
  font-size: 12px;
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .sauna-custom_txt_upper, .sauna-custom_txt_lower {
    font-size: 26px;
  }
}

.sauna-custom_txt_upper {
  position: absolute;
  top: 67%;
  left: 6%;
}

@media screen and (min-width: 1080px) {
  .sauna-custom_txt_upper {
    font-size: 20px;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.sauna-custom_txt_lower {
  position: absolute;
  top: 80%;
  left: 6%;
}

@media screen and (min-width: 1080px) {
  .sauna-custom_txt_lower {
    font-size: 20px;
    text-align: center;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* saua-price */
@media screen and (min-width: 768px) {
  .sauna-price {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 17px;
  }
}

.sauna-price_img-box {
  text-align: center;
}
.sauna-price_img_out {
  width: 75%;
  height: 75%;
}

@media screen and (min-width: 768px) {
  .sauna-price_img_out {
    width: 100%;
    height: 100%;
  }
}

.sauna-price_container {
  width: 78%;
  margin: 0 auto;
}

@media screen and (min-width: 1080px) {
  .sauna-price_container {
    width: 27%;
    margin: 138px 0 0;
  }
}

.sauna-price_ttl {
  font-size: 24px;
  line-height: 1.4;
}

@media screen and (min-width: 1080px) {
  .sauna-price_ttl {
    font-size: 40px;
  }
}

.sauna-price_contents {
  margin-top: 42px;
}

.sauna-price_content {
  border-left: 2px solid var(--black-color2);
}

.sauna-price_content:not(:first-child) {
  margin-top: 31px;
}

.sauna-price_content_ttl {
  font-size: 15px;
  line-height: 1.7;
  margin-left: 13px;
}

@media screen and (min-width: 1080px) {
  .sauna-price_content_ttl {
    font-size: 25px;
  }
}

.sauna-price_content_txt {
  font-size: 14px;
  line-height: 1.7;
  margin-left: 13px;
}

@media screen and (min-width: 1080px) {
  .sauna-price_content_txt {
    font-size: 25px;
  }
}

.sauna-price_content_txt-plus {
  font-size: 12px;
  margin-left: 13px;
  margin-top: 13px;
}

@media screen and (min-width: 1080px) {
  .sauna-price_content_txt-plus {
    font-size: 19px;
  }
}

.sauna-price_content_note {
  font-size: 10px;
  margin-top: 31px;
}

@media screen and (min-width: 1080px) {
  .sauna-price_content_note {
    font-size: 16px;
  }
}

.sauna-price_img_in {
  width: 90%;
  height: 90%;
  margin-top: 39px;
}

/* sauna-contact_flow */
.sauna-contact_flow_ttl {
  font-size: 24px;
  text-align: center;
  margin-top: 35px;
}

@media screen and (min-width: 1080px) {
  .sauna-contact_flow_ttl {
    font-size: 40px;
  }
}

.sauna-contact_flow_list {
  margin-top: 33px;
}

.sauna-contact_flow_item {
  font-size: 14px;
  line-height: 1.4;
  width: 78%;
  background-color: var(--gray-color2);
  margin: 0 auto;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 9px;
  position: relative;
}

@media screen and (min-width: 1080px) {
  .sauna-contact_flow_item {
    font-size: 23px;
    width: 35%;
  }
}

.sauna-contact_flow_item:not(:first-child) {
  margin-top: 23px;
}

.sauna-contact_flow_item:first-of-type:before {
  content: "01";
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 0.83;
  color: #ACACAC;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-family: 'GFS Didot', serif;
  font-style: italic;
}
.sauna-contact_flow_item:nth-of-type(2):before {
  content: "02";
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 0.83;
  color: #ACACAC;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-family: 'GFS Didot', serif;
  font-style: italic;
}

.sauna-contact_flow_item:nth-of-type(2)::after {
  content: "";
  border: 1px solid #3B3B3B;
  width: 2px;
  height: 23px;
  position: absolute;
  top: -61%;
  left: 50%;
}

@media screen and (min-width: 1080px) {
  .sauna-contact_flow_item:nth-of-type(2)::after {
    top: -48%;
  }
}

.sauna-contact_flow_item:nth-of-type(3):before {
  content: "03";
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 0.83;
  color: #ACACAC;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);    font-family: 'GFS Didot', serif;
  font-style: italic;
}

.sauna-contact_flow_item:nth-of-type(3)::after {
  content: "";
  border: 1px solid #3B3B3B;
  width: 2px;
  height: 23px;
  position: absolute;
  top: -61%;
  left: 50%;
}

@media screen and (min-width: 1080px) {
  .sauna-contact_flow_item:nth-of-type(3)::after {
    top: -48%;
  }
}

.sauna-contact_flow_item:nth-of-type(4):before {
  content: "04";
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 0.83;
  color: #ACACAC;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);    font-family: 'GFS Didot', serif;
  font-style: italic;
}

.sauna-contact_flow_item:nth-of-type(4)::after {
  content: "";
  border: 1px solid #3B3B3B;
  width: 2px;
  height: 23px;
  position: absolute;
  top: -62%;
  left: 50%;
}

@media screen and (min-width: 1080px) {
  .sauna-contact_flow_item:nth-of-type(4)::after {
    top: -48%;
  }
}

.sauna-contact_flow_item:nth-of-type(5):before {
  content: "05";
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 0.83;
  color: #ACACAC;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);    
  font-family: 'GFS Didot', serif;
  font-style: italic;
}

.sauna-contact_flow_item:nth-of-type(5)::after {
  content: "";
  border: 1px solid #3B3B3B;
  width: 2px;
  height: 22px;
  position: absolute;
  top: -60%;
  left: 50%;
}

@media screen and (min-width: 1080px) {
  .sauna-contact_flow_item:nth-of-type(5)::after {
    top: -48%;
  }
}

.sauna-price_img_in__pc {
  display: none;
}

@media screen and (min-width: 768px) {
  .sauna-price_img_in__pc {
    display: block;
    width: 62%;
    margin: 0 auto;
    margin-top: 107px;
  }
}

.sauna-contact_txt_wrapper {
  text-align: center;
  margin-top: 38px;
}

.sauna-contact_upper {
  line-height: 1.67;
}

@media screen and (min-width: 768px) {
  .sauna-contact_upper {
    font-size: 25px;
  }
}

.sauna-contact_middle {
  margin-top: 30px;
  line-height: 1.67;
}

@media screen and (min-width: 768px) {
  .sauna-contact_middle {
    font-size: 25px;
  }
}
.sauna-contact_lower {
  margin-top: 30px;
  line-height: 1.67;
}

@media screen and (min-width: 768px) {
  .sauna-contact_lower {
    font-size: 25px;
  }
}

.sauna-contact_btn {
  width: 78%;
  background-color: var(--black-color2);
  text-align: center;
  margin: 0 auto;
  margin-top: 37px;
  margin-bottom: 50px;
}

@media screen and (min-width: 1080px) {
  .sauna-contact_btn {
    width: 37%;
  }
}

.sauna-contact_btn-txt {
  font-size: 14px;
  color: #fff;
  padding-top: 7px;
  padding-bottom: 9px;
  position: relative;
}

.sauna-contact_btn-txt::after {
  content: "";
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #fff;
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
}

.sauna-arrow{
  width: 14px;
  height: 15px;
  border-top: 5px solid #ACACAC;
  border-right: 5px solid #ACACAC;
  transform: rotate(-45deg);
  margin: 0 auto;
}

.sauna-arrow_top {
  font-size: 24px;
  font-family: 'GFS Didot', serif;
  color: #ACACAC;
  text-align: center;
  margin-top: 11px;
  line-height: 0.8;
  letter-spacing: 0.1em;
  padding-bottom: 34px;
}